@import "tailwindcss";

@theme inline {
  --color-mc-bg: #221C1C;
  --color-mc-ui: #C6C6C6;
  --color-mc-border-light: #FFFFFF;
  --color-mc-border-dark: #555555;
  --color-mc-btn: #727272;
  --color-mc-btn-hover: #8B8B8B;
  --color-mc-btn-active: #595959;
  --color-mc-text: #FFFFFF;
  --color-mc-text-shadow: #3F3F3F;
  --color-mc-dirt: #8B5E3C;
  
  --font-pixel: var(--font-pixelify);
}

@layer base {
  body {
    image-rendering: pixelated;
    background-color: var(--color-mc-bg);
    color: var(--color-mc-text);
  }
}
